.avsr_transition #pulse {
    transition: .3s;
}

@keyframes pulse {
    0% {
        d: path("M1.00044 16C1.00044 16 0.500749 16 4.50044 16C8.50013 16 8.49969 16 12 16C15.5003 16 21 16 27.5 16C34 16 35.5001 16 39.5004 16C43.5007 16 60.0004 16 60.0004 16");
    }
    50% {
        d: path("M1.00044 16C1.00044 16 0.500749 16 4.50044 16C8.50013 16 8.49969 16 12 16C15.5003 16 21 16 27.5 16C34 16 35.5001 16 39.5004 16C43.5007 16 60.0004 16 60.0004 16");
    }
    100% {
        d: path("M1.00044 16C1.00044 16 0.500749 16 4.50044 16C8.50013 16 8.49969 21 12 21C15.5003 21 21 5.5 27.5 5.5C34 5.5 35.5001 16 39.5004 16C43.5007 16 60.0004 16 60.0004 16");
    }
}

.avsr_pulse_animation #pulse {
    animation: pulse 1s ease-out alternate infinite;
}

.avsr_pulse_animation_delay #pulse {
    animation-delay: 400ms;
}

