:root {
  --color-primary: #463057;
  --color-primary-pop: #FF25A8;
  --color-theme-white: #F4E6FF;
  --color-theme-white-20: #f4e6ff2d;
  --color-hover-on-playlist: #4630577e;
  --color-bg-dark-raw: 32, 42, 58;
  --color-bg-dark: rgb(var(--color-bg-dark-raw));
  }

.theme-blue {
--color-primary: #123C62;
--color-primary-pop: #8A2644;
--color-theme-white: #D7C0C6;
--color-theme-white-20: #D7C0C62d;
--color-hover-on-playlist: #123C627e;
--color-bg-dark-raw: 16, 24, 33;
--color-bg-dark: rgb(var(--color-bg-dark-raw));
}

.theme-orange {
--color-primary: #C5260A;
--color-primary-pop: #FAB700;
--color-theme-white: #FFE8BB;
--color-theme-white-20: #FFE8BB2d;
--color-hover-on-playlist: #C5260A7e;
--color-bg-dark-raw: 21, 18, 18;
--color-bg-dark: rgb(var(--color-bg-dark-raw));
}

.theme-lilac {
--color-primary: #463057;
--color-primary-pop: #FF25A8;
--color-theme-white: #FCF9EF;
--color-theme-white-20: #FCF9EF2d;
--color-hover-on-playlist: #4630577e;
--color-bg-dark-raw: 32, 42, 58;
--color-bg-dark: rgb(var(--color-bg-dark-raw));
}

.a_very_sound_resume_bg #bg {
  transition: fill ease 150ms;
  fill: var(--color-primary);
}
.a_very_sound_resume_bg *:not(#bg) {
  transition: fill ease 150ms;
  fill: var(--color-theme-white);
}