:root {
  --color-primary-raw: 70, 48, 87;
  --color-primary: rgb(var(--color-primary-raw));
  --color-theme-white-raw: 252, 249, 239;
  --color-theme-white: rgb(var(--color-theme-white-raw));
  --color-bg-dark-raw: 32, 42, 58;
  --color-bg-dark: rgb(var(--color-bg-dark-raw));
  }

.theme-blue {
--color-primary-raw: 18, 60, 98;
--color-primary: rgb(var(--color-primary-raw));
--color-theme-white-raw: 215, 192, 198;
--color-theme-white: rgb(var(--color-theme-white-raw));
--color-bg-dark-raw: 16, 24, 33;
--color-bg-dark: rgb(var(--color-bg-dark-raw));
}

.theme-orange {
--color-primary-raw: 197, 38, 10;
--color-primary: rgb(var(--color-primary-raw));
--color-theme-white-raw: 255, 232, 187;
--color-theme-white: rgb(var(--color-theme-white-raw));
--color-bg-dark-raw: 21, 18, 18;
--color-bg-dark: rgb(var(--color-bg-dark-raw));
}

.theme-lilac {
--color-primary-raw: 70, 48, 87;
--color-primary: rgb(var(--color-primary-raw));
--color-theme-white-raw: 252, 249, 239;
--color-theme-white: rgb(var(--color-theme-white-raw));
--color-bg-dark-raw: 32, 42, 58;
--color-bg-dark: rgb(var(--color-bg-dark-raw));
}

.a_very_sound_resume_bg #bg {
  transition: fill ease 150ms;
  fill: var(--color-primary);
}
.a_very_sound_resume_bg *:not(#bg) {
  transition: fill ease 150ms;
  fill: var(--color-theme-white);
}