@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scrollbars.css';

body {
  @apply bg-black text-white relative max-h-full h-full selection:text-black selection:bg-gray-300;
}

@layer base {
  *:focus {
    @apply ring-1 ring-white/0 outline-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .h-screen {
    height: 100vh;
    height: 100svh;
  }

  @keyframes logoSlideLeft {
    from {
      transform: translateX(1%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes logoSlideRight {
    from {
      transform: translateX(-1%);
    }
    to {
      transform: translateX(0%);
    }
  }
  #logo-svg #logo-top-part {
    animation: logoSlideRight .85s ease-out alternate infinite;
  }
  #logo-svg #logo-middle-part {
    animation: logoSlideLeft .75s ease-out alternate infinite;
  }
  #logo-svg #logo-bottom-part {
    animation: logoSlideRight .8s ease-out alternate infinite .15s;
  }
}
